<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block header %}
  {{ header({
    "service": {
        "name": "Overseas Healthcare Services RINA",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="p2-h001-create-2">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>
      
      <!--PAGE FOR THE SECOND BRANCHING OF H001-->

      <span class="nhsuk-caption-l">H001: Notification or request for information</span>
      <h1>Notification of address</h1>
      <h2 class="nhsuk-heading-m">Type of address</h2>
      
      <form action="p2-h001-create-3-alt" method="post">
        
        <div class="nhsuk-form-group">
        
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="email">
            <label class="nhsuk-label nhsuk-radios__label" for="example-1">
               Country of residence
            </label>
          </div>
  
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="phone">
            <label class="nhsuk-label nhsuk-radios__label" for="example-2">
               Country of stay
            </label>
          </div>
  
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-radios__input" id="example-3" name="example" type="radio" value="text message">
            <label class="nhsuk-label nhsuk-radios__label" for="example-3">
              Person's contact address
            </label>
          </div>
              </div>   

              <hr>

              <form action="p2-h001-create-6" method="post">
              <h2 class="nhsuk-heading-m">Address</h2>
                          <div class="nhsuk-form-group">
                            <p class="nhsuk-u-margin-bottom-1">Street</p>
                            <input class="nhsuk-input" id="so44-tbc" name="so44-tbc" type="text" value="">
                          </div> 
                  
                          <div class="nhsuk-form-group">
                            <p class="nhsuk-u-margin-bottom-1">Building name</p>
                            <input class="nhsuk-input" id="so44-tbc" name="so44-tbc" type="text" value="">
                          </div>
                          
                          <div class="nhsuk-form-group">
                            <p class="nhsuk-u-margin-bottom-1">Town</p>
                            <input class="nhsuk-input" id="so44-tbc" name="so44-tbc" type="text" value="">
                          </div> 
                  
                          <div class="nhsuk-form-group">
                            <p class="nhsuk-u-margin-bottom-1">Postcode</p>
                            <input class="nhsuk-input" id="so44-tbc" name="so44-tbc" type="text" value="">
                          </div> 
                  
                          <div class="nhsuk-form-group">
                            <p class="nhsuk-u-margin-bottom-1">Region</p>
                            <input class="nhsuk-input" id="so44-tbc" name="so44-tbc" type="text" value="">
                          </div> 
                          
                          <div class="nhsuk-form-group">
                            <p class="nhsuk-u-margin-bottom-1">Country</p>
                            <select class="nhsuk-select nhsuk-u-width-full nhsuk-u-margin-bottom-4" id="select-1" name="select-1" value="ES4848FHYD">
                              <option value="1"selected>Choose a country</option>
                              <option value="2">United Kingdom</option>
                              <option value="3">Spain</option>
                            </select>        
                          </div>   

        <div class="nhsuk-form-group">
          <button class="nhsuk-button" data-module="nhsuk-button" data-prevent-double-click="true" type="submit">
            Save and continue
          </button>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
