<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micro Card Example</title>
    <link rel="stylesheet" href="/sass/components/micro.css">
</head>
<body>
      <div class="micro-container">
        <div class="micro-card">
            <div class=" micro-unclickable">

            <div class="micro-logo">
                <img src="/images/microsoft_logo_564db913a7fa0ca42727161c6d031bef.svg" alt="Logo2" width="110">
            </div>
            <h3 class="micro-title">Pick an account            </h3>
            </div>

            <a href="micro-signin-2-rina" class="micro-content micro-clickable">
                <div class="micro-logo">
                    <img src="/images/picker_account_aad_a8332c62695d74843a11daf39a74e552.svg" alt="Icon">
                </div>
                <div class="micro-text">
                    <p>Caroline Langley</p>
                    <p2>caroline.langley@nhs.uk</p2>
                </div>
            </a>

                <div class="micro-content micro-clickable">
                    <div class="micro-logo">
                        <img src="/images/picker_account_add_77a852ed38516108ced087b72b525d25.svg" alt="Icon">
                    </div>
                    <div class="micro-text">
                        <p>Use another account</p>
                    </div>
                </div>

                    <div class=" micro-unclickable">
                        </div>
            </div>
        </div>
    </div>
  </div>
</div>
</body>
</html>