{% extends 'layout-guidance.html' %}

{% block maincontent %}

<!-- This is the page heading -->
<h1 class="app-page-heading">
    <span class="nhsuk-caption-l">
        Content
    <span class="nhsuk-u-visually-hidden"> - </span>
    </span>
    Content principles
    <div>
    </div>
  </h1>

<!-- @Martine tips for adding content
For headings - use <h2>, <h3> or <h4> tags e.g. <h2>Sub-title</h2>

For paragraphs - use <p> tags e.g. <p>This is my paragraph.</p>
Wrap each new paragraph inside it's own set of <p></p> tags.

For links use <a> tags e.g. <a href="www.google.com">An example link to Google</a>. 
Links can be placed inside paragraphs.

Example:

<h2> 1. Break SEDs into sections </h2>
<h3> Navigation between sections </h3>
<p> As the SEDs are broken into sections, users need a way to navigate to the next page. </p>
<p> We recommend using the <a href="https://service-manual.nhs.uk/design-system/components/buttons"> primary button </a> from the NHS design system with the wording 'Save and continue'.

-->

<!-- Start content under here (replacing placeholder paragraph) -->

<p>In order to make EESSI RINA structured electronic documents (SEDs) more accessible and bring them closer in style to <a href="https://service-manual.nhs.uk/content/how-to-write-good-questions-for-forms">NHS forms</a> we recommend using the following 7 rules: </p>
<p><h2>1. Break SEDs into sections</h2></p>
<p>There is no recommended page length in government or NHS style guidance. Public-facing GOV.UK forms are often broken down into single-question screens. </p>
<p>This does not feel appropriate for our expert users. However, some SEDs are very long and we recommended breaking them down to 1 section per page in order to:</p>
<ul>
<li>improve usability and accessibility</li>
<li>bring them closer to NHS style</li>
</ul>
<p>The SEDs contain between 1 and 7 numbered sections.</p>
<p>We recommend putting each numbered section onto its own page in order to:</p>
<ul>
<li>make them easier to read and navigate</li>
<li>maintain a consistent, repeatable approach</li>
</ul>
<h3>Navigation between sections</h3>
<p>As the SEDs are broken into sections, users need a way to navigate to the next page.</p>
<p>We recommend using the primary button from the NHS design system with the wording ‘Save and continue’. </p>
<p><b>Please note:</b> We will look to review this as part of our work to understand how draft functionality works in OHS RINA.</p>
<h3>H001 and H002</h3>
<p>These are the longest SEDs and only have 1 main section each. They are broken up according to this logic: 1.1.1, 1.1.2, 1.1.3 and so on up to 1.1.8.</p>
<p>We recommend breaking down these 2 SEDs using the third number in the numbering structure. This will mean that both H001 and H002 will be broken into 8 pages.</p>
<h4>Source:</h4>
<p><a href"https://www.gov.uk/guidance/content-design/writing-for-gov-uk">Writing for GOV.UK</a></p>
<h2>2. Remove all numbering</h2>
<p>Numbering in forms is not recommended in the NHS style guide. We recommend removing all numbering from SEDs, including numbers in ‘Select’ components.</p>
<p>While the numbers help to structure the data, they offer a poor user experience in terms of accessibility and readability.</p>
<h4>Source:</h4>
<p><a href"https://service-manual.nhs.uk/content/how-to-write-good-questions-for-forms">NHS design system - How to write good questions for forms</a></p>
<h2>3. Mark mandatory sections and fields with an asterisk</h2>
<p>The NHS design system recommends labelling optional fields rather than mandatory ones: 'We do not use asterisks for essential fields. Research suggests that they're not necessary and they can make users anxious and less likely to complete the form.'</p>
<p>However, our users are expert users who interact with SED forms many times each day. There is no evidence that using forms with mandatory fields is a problem for them.  </p>
<p>H001 and H002 forms also contain many more optional fields than mandatory ones. Marking mandatory sections and fields (as RINA currently does) rather than optional ones, makes more sense for these forms and allows a consistent approach across these and other SEDs.</p>
<h4>Source:</h4>
<p><a href"https://service-manual.nhs.uk/content/how-to-write-good-questions-for-forms/make-sure-you-need-each-question>NHS design system - Make sure you need each question
</a></p>
<h2>4. Use improved error messages for each component</h2>
<p>In the NHS and GOV.UK design systems, error messages are specific to the content of each component.</p>
<p>In the existing SEDs, there is a single error message for all components: ‘requires data’.</p>
<p>As a practical compromise we suggest individual error messages for each type of component in the SEDs.</p>
<p>This is for <u>required</u> fields only. As we build in automation we may need to explore more data validation.</p>
<p><b>Text input:</b> Enter {field name}</p>
<p><b>Radios:</b> Select 1 option for {field name}</p>
<p><b>Checkboxes:</b> Select 1 or more options for {field name}</p>
<p><b>Date input (where no date has been provided):</b> Enter {field name}</p>
<p><b>Date input (where 1 field is missing):</b> {field name} must include a day/month/year</p>
<p><b>Textarea: </b>Enter {field name}</p>
<p><b>Autocomplete dropdown:</b> Select 1 option for {field name}</p>
<h4>Sources:</h4>
<ul class="nhsuk-list">
<li></li><a href"https://service-manual.nhs.uk/content/how-to-write-good-questions-for-forms">NHS design system - error message</a></li>
<li></li><a href"https://service-manual.nhs.uk/content/how-to-write-good-questions-for-forms/make-sure-you-need-each-question>GOV.UK design system - error message</a></li>
</ul>
<h2>5. Formatting</h2>
<p>To support accessibility, every page should only have one main heading (h1).</p>
<p>Each main section of the page (these are numbered 1.  2.  3. and so on) should have an h2. Sub-sections have h3 headings then continue down to h6, following the structure of the data.</p>
<p>We recommend adding this override class to h5 and h6 headings:</p> 
<p>&lt;h5 class="nhsuk-heading-s"&gt;&lt;/h5&gt;</p>
<h4>Page breaks</h4>
<p>We recommend using:
<ul>
<li>an extra large (xl) page break before each h2 section</li>
<li>a medium (m) page break before each h3 section</li>
</ul>
<p>No other section breaks should be displayed.</p>
<p><img class="nhsuk-image__img" src="/images/headings.png" alt="Marked up page showing page breaks and headings levels"></p>
<h4>Sources:</h4>
<ul class="nhsuk-list">
<li><a href"https://service-manual.nhs.uk/design-system/styles/typography>NHS design system - typography</a></li>
<li><a href"https://service-manual.nhs.uk/accessibility/content>NHS design system - use headings correctly</a></li>
</ul>
<h2>6. Use sentence case for headings, sub-headings and field labels</h2>
<p>Currently headings and sub-headings in the SEDs are in capital letters. This makes them difficult to read and is not recommended in the NHS design system. </p>
<p>Some field labels also have capital letters at the start of each word, for example, 'Start Date'.</p>
<p>We recommend that all headings, sub-headings and field labels in SEDs are written in sentence case (upper and lower case) with only the first word taking a capital letter. 
<p>So ‘PERSON IDENTIFICATION’ becomes ‘Person identification’ and 'Start Date' becomes 'Start date'.</p>
<h4>Sources:</h4>
<ul class="nhsuk-list">
<li><a href"https://service-manual.nhs.uk/content/formatting-and-punctuation#capitalisation>NHS design system - capitalisation</a></li></ul>
<h2>7. Remove hint text</h2>
<p>Currently hint text in the SEDs is hidden in blue information icons. It is revealed when you hover over the buttons with your cursor. This pattern would fail accessibility testing.
</p>

<p>As best practice the NHS design system recommends placing hint text on the components themselves. Hint text should be as short and concise as possible.</p>
<p><a href"https://miro.com/app/board/uXjVNp3g2E8=/?moveToWidget=3458764580626545502&cot=14">User research carried out by the RINA UCD team</a> shows that our expert users are able to navigate OHS screens and SEDs with no hint text.</p>
<p><a href"https://miro.com/app/board/uXjVNp3g2E8=/?moveToWidget=3458764580626545502&cot=14">User research carried out by the member state claims team</a> confirms that our users need minimal hint text.</p>
<p>However, if we need to retain the hint text for training or reference purposes, it can be moved to supporting documentation. </p>
<h4>Source:</h4>
<ul class="nhsuk-list">
<li><a href="https://service-manual.nhs.uk/design-system/components/hint-text">NHS design system - hint text</a></li>
</ul>
{% endblock %}