<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      
        <div class="nhsuk-grid-column-two-thirds app-section__content">
           <div class="nhsuk-u-reading-width">
            
            
            </div>
            
              


          
          <div class="nhsuk-card">
            <div class="nhsuk-card__content sizes">
              <h2>Single sign on (SSO)</h2>

              <p class="nhsuk-body-l">Please choose a method for signing on</p>

              <form action="login-and-auth-3" method="post">
        
                <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                  Sign in with Microsoft Authenticator
                </button>
        
              
              </form>

              <a href="#" class="nhsuk-link">Having trouble signing in?</a>
              <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
              <a href="#" class="nhsuk-link">Log in with another method</a>

          
            </div>
          </div>

        </li>
      


{% endblock %}
