<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<div class="nhsuk-back-link nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">

  <a class="nhsuk-back-link__link" href="ohs-case-view-so44">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to case details</a>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>S044: Request for entitlement document</h1>
      
      <form action="so44-sent" method="post">

        
        <div class="nhsuk-form-group">
          
          <h1 class="nhsuk-heading-l">Personal details</h1>
          <h2 class="nhsuk-heading-m">Personal identity</h2>
  
          <dl class="nhsuk-summary-list">
  
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">First name</dt>
              <dd class="nhsuk-summary-list__value">Ali</dd>
              <dd class="nhsuk-summary-list__actions"></dd>
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Last name</dt>
              <dd class="nhsuk-summary-list__value">Roberts</dd>
              <dd class="nhsuk-summary-list__actions"></dd>
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Date of birth</dt>
              <dd class="nhsuk-summary-list__value">16 May 1989</dd>
              <dd class="nhsuk-summary-list__actions"></dd>
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Sex</dt>
              <dd class="nhsuk-summary-list__value">Female</dd>
              <dd class="nhsuk-summary-list__actions"></dd>
            </div>
                      
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">First name at birth</dt>
              <dd class="nhsuk-summary-list__value">Ali</dd>
              <dd class="nhsuk-summary-list__actions"></dd>
            </div>
                      
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Last name at birth</dt>
              <dd class="nhsuk-summary-list__value">Roberts</dd>
              <dd class="nhsuk-summary-list__actions"></dd>
            </div>
          
          </dl>

        </div>

        <div class="nhsuk-form-group">

        <h1 class="nhsuk-heading-l">Personal identification number (PIN) for each institution</h1>
        <h2 class="nhsuk-heading-m">PINS</h2>
  
        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Country</dt>
            <dd class="nhsuk-summary-list__value">Netherlands</dd>
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Country PIN</dt>
            <dd class="nhsuk-summary-list__value">111222</dd>
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Sector</dt>
            <dd class="nhsuk-summary-list__value">-</dd>
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>
        </dl>

          <h2 class="nhsuk-heading-m">Institution</h2>
          <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Institution PIN</dt>
            <dd class="nhsuk-summary-list__value">UK033</dd>
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">Intitution name</dt>
            <dd class="nhsuk-summary-list__value">Department of Health and Social Care</dd>
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>
        
        </dl>

      </div>
        
      <h1 class="nhsuk-heading-l">If PIN not provided for every institution, please provide</h1>
      <h2 class="nhsuk-heading-m">Place of birth</h2>
      <dl class="nhsuk-summary-list">
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Town</dt>
          <dd class="nhsuk-summary-list__value">Sunderland</dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Region</dt>
          <dd class="nhsuk-summary-list__value">Tyne & Wear</dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Country</dt>
          <dd class="nhsuk-summary-list__value">United Kingdom</dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Father's first name at birth</dt>
          <dd class="nhsuk-summary-list__value">-</dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>
                  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Father's last name at birth</dt>
          <dd class="nhsuk-summary-list__value">-</dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>
                  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Mothers's first name at birth</dt>
          <dd class="nhsuk-summary-list__value">-</dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Mothers's last name at birth</dt>
          <dd class="nhsuk-summary-list__value">-</dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>
      
      </dl>

        <div class="nhsuk-form-group">
          
          <h2>Additional information on the person</h2>
  
          <dl class="nhsuk-summary-list">
  
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Nationality</dt>
              <dd class="nhsuk-summary-list__value">United Kingdom</dd>
              <dd class="nhsuk-summary-list__actions"></dd>
            </div>

          </dl>

        </div>

        <div class="nhsuk-form-group">
          
          <h2>Address</h2>
  
          <dl class="nhsuk-summary-list">
  
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Street</dt>
              <dd class="nhsuk-summary-list__value">12 Willow Road</dd>
              <dd class="nhsuk-summary-list__actions"></dd>
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Building name</dt>
              <dd class="nhsuk-summary-list__value">-</dd>
              <dd class="nhsuk-summary-list__actions"></dd>
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Town</dt>
              <dd class="nhsuk-summary-list__value">Sunderland</dd>
              <dd class="nhsuk-summary-list__actions"></dd>
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Postcode</dt>
              <dd class="nhsuk-summary-list__value">SR5 6UT</dd>
              <dd class="nhsuk-summary-list__actions"></dd>
            </div>
                      
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Region</dt>
              <dd class="nhsuk-summary-list__value">Tyne & Wear</dd>
              <dd class="nhsuk-summary-list__actions"></dd>
            </div>
                      
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Country</dt>
              <dd class="nhsuk-summary-list__value">United Kingdom</dd>
              <dd class="nhsuk-summary-list__actions"></dd>
            </div>
          
          </dl>

        </div>


        <div class="nhsuk-form-group">
          
          <h2>Requested period of entitlement</h2>
  
          <dl class="nhsuk-summary-list">
  
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Start date</dt>
              <dd class="nhsuk-summary-list__value">4 December 2023</dd>
              <dd class="nhsuk-summary-list__actions"></dd>
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">End date</dt>
              <dd class="nhsuk-summary-list__value">1 January 2024</dd>
              <dd class="nhsuk-summary-list__actions"></dd>
            </div>

          
          </dl>

        </div>
        <div class="nhsuk-form-group">
          <button class="nhsuk-button" data-module="nhsuk-button" data-prevent-double-click="true" type="submit">
            Send to OHS
          </button>
        </div>

    </div>
  </div>
{% endblock %}
