<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

<h1>Case details</h1>

    <!-- Case details -->
    
    <dl class="nhsuk-summary-list">
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Full name
        </dt>
        <dd class="nhsuk-summary-list__value">
          Ali Roberts
        </dd>
    
      </div>
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          RINA international case ID
        </dt>
        <dd class="nhsuk-summary-list__value">
          sxl532ya-bae451po-ssw565sj-fqb573jx
        </dd>     
    
      </div>
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="nhsuk-summary-list__value">
          16 May 1989
        </dd>        
      </div>
    
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Address
        </dt>
        <dd class="nhsuk-summary-list__value">
          12 Willow Road<br>Sunderland<br>SR5 6UT<br>United Kingdom
        </dd>
    
     </div>
    
          
    <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Treatment start date
    </dt>
    <dd class="nhsuk-summary-list__value">
      4 December 2023
    </dd>
    </div>
    
    <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
    Treatment end date
    </dt>
    <dd class="nhsuk-summary-list__value">
    1 January 2024
    </dd>
    </div>

    </div>
    </div>

    <p>If the case details are complete, create the S045 entitlement in OHS.</p>

    <form action="sbuc5-case-details" method="post">
    <!--Button-->
      <button class="nhsuk-button" data-module="nhsuk-button" data-prevent-double-click="true" type="submit">
        Search OHS
     </button>
    </form>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Applicant information is incomplete or incorrect
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Send an H001 request for information to the member state.</p>
        <ul class="nhsuk-list">
          <li><a href="#">Create H001</a></li>
        </ul>
      </div>
    </details>
    
    <br>
    
    <!-- Timeline -->
    <div class="nhsuk-tabs__panel">
    
      <div class="nhsuk-timeline" id="timeline">
        <h1 class="nhsuk-heading-m nhsuk-u-margin-bottom-6">Timeline</h1>
        <ol class="nhsuk-timeline__events">

          {% if data.applicant.hasS045 %}
          <li class="nhsuk-timeline__events--entry">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">S045: Entitlement document - temporary stay</h2>
            <p class="nhsuk-body-s nhsuk-u-margin-bottom-3">27 March 2024</p>
            <p class="nhsuk-body-m nhsuk-u-margin-bottom-2" for="so44-tbc"><span class="prefix">Country:</span>United Kingdom</p>
            <strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-4">Issued - sent</strong>
            <ul class="nhsuk-list nhsuk-body-s">
              <li><a href="view-s045">View S045</a></li>
            </ul>
          </li>

          {% endif %}


          <li class="nhsuk-timeline__events--entry">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">S044: Request for entitlement document</h2>
            <p class="nhsuk-body-s nhsuk-u-margin-bottom-3">22 March 2024</p>
            <p class="nhsuk-body-m nhsuk-u-margin-bottom-2" for="so44-tbc"><span class="prefix">Country:</span>Netherlands</p>
            <strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-4">Received</strong>
            <ul class="nhsuk-list nhsuk-body-s">
              <li><a href="view-s044">View S044</a></li>
            </ul>
          </li>
        </div> 
    </div>
    
    
        <!-- Page actions -->
        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-top-6">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Archive or close the case 
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-list">
              <li><a href="#">Archive case</a></li>
              <li><a href="#">Close case</a></li>
            </ul>
          </div>
        </details>
    
    
        

{% endblock %}
