<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>OHS create SO45</h1>

      <form action="ohs-so45-create" method="post">

        <div class="nhsuk-form-group">
          <button class="nhsuk-button" data-module="nhsuk-button" data-prevent-double-click="true" type="submit">
            Save and continue
          </button>
        </div>

      </form>

    </div>
    
    <div class="nhsuk-grid-column-one-third">

      <p>
        <h4>Temporary nav</h4>
        <a href="/v1/so45-view">View SO45</a>
      </p>

    </div>
  </div>
{% endblock %}
