<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1>Case view</h1>

      <div class="nhsuk-tabs" data-module="nhsuk-tabs">
        <h2 class="nhsuk-tabs__title">
          Contents
        </h2>
      
        <ul class="nhsuk-tabs__list">
      
          <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
            <a class="nhsuk-tabs__tab" href="#past-day">
              Timeline
            </a>
          </li>
      
          <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#past-week">
              Case details
            </a>
          </li>
      
        </ul>

      
        <div class="nhsuk-tabs__panel" id="past-day">

          <div class="nhsuk-timeline">
            <h1 class="nhsuk-heading-m nhsuk-u-margin-bottom-6">Timeline</h1>
            <ol class="nhsuk-timeline__events">
            <li class="nhsuk-timeline__events--entry">
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">SO44: Request for an entitlement document</h2>
                <p class="nhsuk-body-s nhsuk-u-margin-bottom-3">11 December 2023</p>
                <p class="nhsuk-body-m nhsuk-u-margin-bottom-1" for="so44-tbc"><span class="prefix">Country:</span>Netherlands</p>
                <p class="nhsuk-body-m nhsuk-u-margin-bottom-3" for="so44-tbc"><span class="prefix">Status:</span>Received</p>
                <ul class="nhsuk-list nhsuk-body-s">
                  <li><a href="ohs-so44">Open form</a></li>
                  <li><a href="#">Comment</a></li>
                  <li><a href="#">Add attachment</a></li>
                </ul>
            </li>
            </div> 
        </div>
      
        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="past-week">
          
          <h3 class="nhsuk-heading-m">Case details</h3>

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Name
              </dt>
              <dd class="nhsuk-summary-list__value">
                Ali Roberts
              </dd>
  
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                RINA reference number
              </dt>
              <dd class="nhsuk-summary-list__value">
                Q12345
              </dd>     
  
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="nhsuk-summary-list__value">
                16 May 1989
              </dd>        
            </div>
          
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Address
              </dt>
              <dd class="nhsuk-summary-list__value">
                12 Willow Road<br>Sunderland<br> SR5 6UT<br> United Kingdom
              </dd>
  
           </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Last updated
            </dt>
            <dd class="nhsuk-summary-list__value">
              12 December 2023
            </dd>
          </div>
        </dl>     

          <form action="so45-send" method="post">

            <div class="nhsuk-form-group">
              <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0" data-module="nhsuk-button" data-prevent-double-click="true" type="submit">
                Archive case
              </button>
            </div>
          </form>      
      </div>

    </div>
    

{% endblock %}
